@import "../../partials/mixins";

.contact_page {
  width: 100%;

  .container {
    padding: 1rem;
    width: 120rem;
    height: 100%;
    margin: 0 auto;
    @include respondMax(tab-land) {
      width: 100%;
      padding: 1rem 1rem;
    }
  }

  .contact_content{
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .box{
      width: 33rem;
      @include respondMax(phone-land) {
        width: 90%;
      }
      margin: 2rem;
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      border-top: 4px solid #ff5a3c;
      border-bottom: 4px solid #ff5a3c;
      svg{
        font-size: 6rem;
        color: #ff5a3c;
      }
      h3 {
        font-size: 3rem;
        font-weight: bold;
        margin: 3rem;
      }

      p{
        font-size: 1.8rem;
        text-align: center;
        font-weight: bold;
      }
    }
  }

  .maps{
    margin: 4rem 0;
    height: 40rem;
  }
}