@import "../../partials/mixins";

.news_page {
  width: 100%;
  margin-top: 11rem;

  .container {
    padding: 1rem;
    width: 120rem;
    height: 100%;
    margin: 0 auto;
    @include respondMax(tab-land) {
      width: 100%;
      padding: 1rem 1rem;
    }
  }

  .text_content{
    padding: 5rem 0;
    font-size: 1.8rem;
    font-weight: bold;
  }

}